<div class="grid cms-page">
  <div class="col-12">
    <div class="card">
      <div class="cms-page-header">
        <div class="cms-page-header__text">
          <span class="cms-page-kicker">Users</span>
          <h5 class="cms-page-title">Users</h5>
          <p class="cms-page-subtitle">Manage CMS user accounts and roles</p>
        </div>
        <div class="cms-page-header__actions">
          @if (write) {
            <p-button [routerLink]="['/users/add-user']" label="Add User"></p-button>
          }
        </div>
      </div>

      <p-table #dt1 styleClass="cms-table-dense" [value]="users"  [lazy]="true" (onLazyLoad)="nextPage($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [currentPageReportTemplate]="'{currentPage} of {totalPages}'" [showCurrentPageReport]=true>
      <ng-template #header>
        <tr>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Email
            </div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex justify-content-between align-items-center">
              Role
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Status
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Options
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-users let-rowIndex="rowIndex">
        <tr>
          <td>
            {{users.email}}
          </td>
          <td>
            {{users.role_name}}
          </td>
          <td>
            <p-toggleswitch [(ngModel)]="users.checked" [disabled]="!write" class="p-inputswitch-checked" (onChange)="toggleUser(users.id, users.status, rowIndex)"></p-toggleswitch>
          </td>
          <td>
            @if (write) {
              <p-button [routerLink]="['/users/edit-user']" [queryParams]="{id: users.id}" severity="success" size="small" icon="pi pi-pencil"></p-button>
            }
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="4">No data found.</td>
        </tr>
      </ng-template>
      <ng-template #loadingbody>
        <tr>
          <td colspan="4">Loading data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmdialog key="confirmActiveInactive"></p-confirmdialog>
