<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Campaign Configuration List</h5>
      <p-divider align="center">
        <span class="p-tag text-base">Filters</span>
      </p-divider>
      <div class="grid">
        <div class="col-3 pl-0">
          <p-select class="col" [(ngModel)]="filter.conf_type" id="conf_type" [options]="conf_types" optionLabel="name" [showClear]="true" (onChange)="filterOnChange($event, 'conf_type')" placeholder="Configuration Type" optionValue="code"></p-select>
        </div>
        <div class="col-3">
          <p-select class="col" [(ngModel)]="filter.conf_level_type" id="conf_level_type" [options]="conf_level_types" optionLabel="name" [showClear]="true" (onChange)="filterOnChange($event, 'conf_level_type')" placeholder="Configuration Level" optionValue="code"></p-select>
        </div>
      </div>
      <div class="flex">
        @if (filter.conf_level_type || filter.conf_type) {
          <button type="button" pButton pRipple (click)="clearFilters()" severity="secondary">Clear</button>
        }
      </div>
      <p-divider></p-divider>

      <p-table #dt1 [value]="campaign_confs"  [lazy]="true" (onLazyLoad)="nextPage($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [currentPageReportTemplate]="'{currentPage} of {totalPages}'" [showCurrentPageReport]=true>
        <ng-template #caption>
          <div class="flex justify-content-between flex-column sm:flex-row">
            <p-iconfield class="mb-2"><p-inputicon class="pi pi-search"></p-inputicon>
              <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Configuration" class="w-full"/></p-iconfield>
            @if (campaign_confs.length>0) {
                <button type="button" pButton pRipple (click)="exportToExcel()" class="mr-2" pTooltip="XLS" tooltipPosition="bottom" severity="success"><i class="pi pi-file-excel"></i></button>
              }
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Configuration Type
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Configuration Level
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Ad Partner
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Configuration Entity
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Configuration Value
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Capping On
              </div>
            </th>
            <th style="min-width: 5rem">
              <div class="flex justify-content-between align-items-center">
                Options
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-campaign_confs let-rowIndex="rowIndex">
          <tr>
            <td>
              {{campaign_confs.type | uppercase}}
            </td>
            <td>
              {{campaign_confs.level_name | titlecase}}
            </td>
            <td>
              {{campaign_confs.adpartner | uppercase}}
            </td>
            <td>
              {{campaign_confs.level_name == 'telcom' ? campaign_confs.region_code+"_"+campaign_confs.entity_name :campaign_confs.entity_name }}
            </td>
            <td>
              {{campaign_confs.conf_value}}{{campaign_confs.type =='drop'? '%' : '' }}
            </td>
            <td>
              {{ campaign_confs.type == 'capping' ? ((campaign_confs.conf_is_optin_capping==true) ? 'Optin' : 'Billing'): ''  }}
            </td>
            <td>
              @if (write && (campaign_confs.type =='drop' || campaign_confs.type =='capping')) {
                <p-button [routerLink]="['/campaign/edit-configuration']" [queryParams]="{id: campaign_confs.id}" title="Edit Configuration" class="mr-3" severity="info" size="small" icon="pi pi-pencil" [iconOnly]="true"></p-button>
              }

              @if (delete) {
                <p-button (onClick)="toggleConf(campaign_confs.id, rowIndex)" severity="danger" size="small" icon="pi pi-trash" [iconOnly]="true"></p-button>
              }
            </td>
          </tr>
        </ng-template>
        <ng-template #emptymessage>
          <tr>
            <td colspan="8">No data found.</td>
          </tr>
        </ng-template>
        <ng-template #loadingbody>
          <tr>
            <td colspan="8">Loading data. Please wait.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmdialog key="confirmActiveInactive"></p-confirmdialog>