.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: calc(#{$topbarHeight} + 1.25rem) 1.5rem 1.25rem 1.5rem;
    transition: margin-left $transitionDuration;
    background-color: var(--surface-ground);
}

.layout-main {
    flex: 1 1 auto;
    max-width: 100%;
}
