<div class="grid cms-page">
  <div class="col-12">
    <div class="card">
            <div class="cms-page-header">
        <div class="cms-page-header__text">
          <span class="cms-page-kicker">Masters</span>
          <h5 class="cms-page-title">Cron Jobs</h5>
          <p class="cms-page-subtitle">Manage scheduled cron configurations</p>
        </div>
      </div>

      <p-table #dt1 styleClass="cms-table-dense" [value]="crons"  [lazy]="true" (onLazyLoad)="nextPage($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [currentPageReportTemplate]="'{currentPage} of {totalPages}'" [showCurrentPageReport]=true>
        <ng-template #caption>
          <div class="cms-list-tools">
            <p-iconfield class="mb-2"><p-inputicon class="pi pi-search"></p-inputicon>
              <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Crons" class="w-full"/></p-iconfield>
            <div class="cms-list-tools__actions">
              @if (crons.length > 0) {
                <button type="button" pButton pRipple (click)="exportToExcel()" class="mr-2" pTooltip="XLS" tooltipPosition="bottom" severity="success"><i class="pi pi-file-excel"></i></button>
              }
            </div>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Name <p-sortIcon class="mx-4" field="name"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="name" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Unique Code <p-sortIcon class="mx-4" field="name"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="name" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Country <p-sortIcon class="mx-4" field="country"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="operator" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Operator <p-sortIcon class="mx-4" field="operator"></p-sortIcon>
              </div>
            </th>

            <th pSortableColumn="time" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Start Time <p-sortIcon class="mx-4" field="time"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="url" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Interval Minutes <p-sortIcon class="mx-4" field="url"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="url" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Retry On Failure<p-sortIcon class="mx-4" field="url"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="url" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Max Retry Count <p-sortIcon class="mx-4" field="url"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="url" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Current Retry Count <p-sortIcon class="mx-4" field="url"></p-sortIcon>
              </div>
            </th>

            <th style="min-width: 10rem">
              <div class="flex justify-content-between align-items-center">
                LastExecutedAt
              </div>
            </th><th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Updated at
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Status
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              Options
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-crons let-rowIndex="rowIndex">
        <tr>
          <td>
            {{crons.cron_name}}
          </td>
          <td>
            {{crons.cron_code}}
          </td>
          <td>
            {{crons.cron_countryCode}}
          </td>
          <td>
            {{crons.cron_operator}}
          </td>

          <td>
            {{crons.cron_startTime | date: 'HH:mm a' }}
          </td>
          <td>
            {{crons.intervalMinutes}}
          </td>
          <td>
            {{crons.cron_isRetryOnFailure}}
          </td>
          <td>
            {{crons.cron_maxRetryCount}}
          </td>
          <td>
            {{crons.cron_currentRetryCount}}
          </td>
          <td>
            {{crons.cron_lastExecutedAt | date: 'yyyy-MM-dd HH:mm a'}}
          </td>
          <td>
            {{crons.cron_updatedAt | date: 'yyyy-MM-dd HH:mm a'}}
          </td>
          <td>
            <p-toggleswitch [(ngModel)]="crons.cron_isActive" [disabled]="!write" class="p-inputswitch-checked" (onChange)="toggleCrons(crons.cron_id, crons.cron_isActive, rowIndex)"></p-toggleswitch>
          </td>
          <td>
            @if (write) {
              <p-button [routerLink]="['/masters/edit-cron']" [queryParams]="{id: crons.cron_id}" severity="success" size="small" icon="pi pi-pencil"></p-button>
            }
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="6" class="cms-table-empty">No data found.</td>
        </tr>
      </ng-template>
      <ng-template #loadingbody>
        <tr>
          <td colspan="6" class="cms-table-empty">Loading data. Please wait.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
</div>
<p-toast></p-toast>
<p-confirmdialog key="confirmActiveInactive"></p-confirmdialog>