<div class="grid">
  <div class="col-12">
    <div class="card">
      @if (!editable) {
        <h5 class="mb-5">Add Master Aggregator</h5>
      }
      @if (editable) {
        <h5 class="mb-5">Edit Master Aggregator</h5>
      }
      <form [formGroup]="masterAggregatorForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid formgrid grid">
          <div class="field col-3 md:col-3">
            <div class="field col-12">
              <label htmlFor="maggregator_name">Master Aggregator<span label styleclass="label-required" class="text-red-500">*</span></label>
              <input pInputText id="maggregator_name" type="text" formControlName="maggregator_name" placeholder="Master Aggregator" />
              @if (submitted && !f['maggregator_name'].valid) {
                <div style="display: block; width: 100%;">
                  @if (f['maggregator_name'].hasError('required') ) {
                    <span class="p-error">
                      Master Aggregator is required
                    </span>
                  }
                </div>
              }
            </div>
          </div>
        </div>
        <div class="p-fluid formgrid grid pl-3">
          <div class="field col-12 md:col-3 pt-0">
            <button type="submit" pButton pRipple class="w-6 text-xl " size="small">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast></p-toast>