<div class="grid cms-campaign cms-page">
  <div class="col-12">
    <div class="card">
      <h5 class="cms-page-title">Common Landing Page</h5>
      <div class="cms-filter-bar">
          <p-select [(ngModel)]="filter.service_id" id="service_id" [options]="services"
            optionLabel="name" [showClear]="true" (onChange)="filterOnChange($event, 'service_id')"
          placeholder="Services" optionValue="id"></p-select>
          <p-select [(ngModel)]="telcom_id" id="tel_id" [options]="telecom_operators"
            [filter]="true" optionLabel="name" [showClear]="true"
            (onChange)="filterOnChange($event, 'tel_id')" placeholder="Operator"
          optionValue="id"></p-select>
        @if (filter.tel_id || filter.service_id) {
          <button type="button" pButton pRipple (click)="clearFilters()" severity="secondary" label="Clear"></button>
        }
      </div>
      <p-table #dt1 styleClass="cms-table-dense" [value]="campaigns" [scrollable]="true" scrollHeight="400px" [lazy]="true"
        (onLazyLoad)="nextPage($event)" [paginator]="true" [rows]="10" [totalRecords]="totalRecords"
        [loading]="loading" [currentPageReportTemplate]="'{first}–{last} of {totalRecords}'"
        [showCurrentPageReport]="true">
        <ng-template #caption>
          <div class="cms-list-tools">
            <p-iconfield>
              <p-inputicon class="pi pi-search"></p-inputicon>
              <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                placeholder="Search Campaign" class="w-full" />
            </p-iconfield>
          </div>
        </ng-template>
        <ng-template #header>
          <tr>
            <th style="min-width: 6rem">
              <div class="flex justify-content-between align-items-center">
                Options
              </div>
            </th>
            <th style="width: 10px">
              Campaign URL
            </th>
            <th style="min-width: 20rem">
              <div class="flex justify-content-between align-items-center">
                Campaign ID
              </div>
            </th>
            <th pSortableColumn="region" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Region <p-sortIcon class="mx-4" field="region"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="operator" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Operator <p-sortIcon class="mx-4" field="operator"></p-sortIcon>
              </div>
            </th>
            <th pSortableColumn="service" style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Service <p-sortIcon class="mx-4" field="service"></p-sortIcon>
              </div>
            </th>
            <th style="min-width: 12rem">
              <div class="flex justify-content-between align-items-center">
                Status
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-campaigns let-rowIndex="rowIndex">
          <tr>
            <td>
              @if (write) {
                <p-button [routerLink]="['/campaign/landing-page-configuration/edit']" [queryParams]="{id: campaigns.common_landing_campaigns_uuid}" severity="success" size="small" icon="pi pi-pencil"></p-button>
              }
            </td>
            <td class="text-center">
              <i class="pi pi-clone cursor-pointer" title="Copy Camapign Link!"
              (click)="copyToClipboard(campaigns.common_landing_campaigns_uuid)"></i>
            </td>
            <td>
              {{campaigns.common_landing_campaigns_uuid}}
            </td>
            <td>
              {{campaigns.region_name}}
            </td>
            <td>
              {{campaigns.tel_name}}
            </td>
            <td>
              {{campaigns.service_name}}
            </td>
            <td>
              <p-toggleswitch [(ngModel)]="campaigns.checked" [disabled]="!write"
                class="p-inputswitch-checked"
              (onChange)="toggleCampaign(campaigns.common_landing_campaigns_uuid, campaigns.common_landing_campaigns_status, rowIndex)"></p-toggleswitch>
            </td>
          </tr>
        </ng-template>

        <ng-template #emptymessage>
          <tr>
            <td colspan="8">No data found.</td>
          </tr>
        </ng-template>
        <ng-template #loadingbody>
          <tr>
            <td colspan="8">Loading data. Please wait.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-toast></p-toast>
<p-confirmdialog key="confirmActiveInactive"></p-confirmdialog>